<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>XXXX</title>
    <script src="../static/vue/vue.min.js"></script>
    <link rel="stylesheet" href="../static/iview/iview.css">
    <script src="../static/iview/iview.min.js"></script>
    <script src="../static/js/axios.min.js"></script>
    <script src="../static/js/xhead.js?v=1"></script>
    <script src="../static/js/xrank.js?v=1"></script>
    <script src="../static/js/xArticleList.js?v=4"></script>
    <script src="../static/js/xArticleDetail.js?v=1"></script>
    <link rel="stylesheet" href="../static/css/blog.css?v=8">
</head>
<body>
<div id="app">
    <div style="height: 100%" class="layout">
        <Layout>
            <Header class="head_c"><component :is="componentHead"></component></Header>
            <Layout class="layout_1">
                <Content class="content_layout"><component :is="componentContent"></component></Content>
                <Sider class="sider" :style="{width: '400px','max-width':'400px',flex:'0 0 400px'}"><component :is="componentRank"></component></Sider>
            </Layout>
            <Footer>Footer</Footer>
        </Layout>
    </div>
</div>
<script>
    const sys = new Vue({
        el: '#app',
        data: {
            componentContent: 'xartList',
            componentHead: 'xhead',
            componentRank: 'xrank',
            componentCont: 'xcont',
            strUserName: "",
            strPwd: ""
        },
        components: {
            xhead:headContent(1),
            xrank:rankContent(1),
            xartDetail:xArtDetail(1),
            xartList:xArtList(1),
        },
        methods: {
            doLogin: function () {
                var self=this
                axios.get("/ops/user/login?strUserName=" + this.strUserName+"&strPwd="+this.strPwd)
                    .then(function (res) {
                        console.log(res.data);
                        if (res.data.code == 0){
                            window.location.href="index.html"
                            return
                        } else{
                            self.$Modal.info({
                                title: '提示',
                                width: '300px',
                                content: res.data.msg
                            })
                        }
                    })
                    .catch(function (error) {
                        console.log(error)
                        self.$Modal.info({
                            title: '提示',
                            width: '300px',
                            content: '登录失败'
                        })
                    });
            }

        }
    })
</script>
</body>
</html>
