<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>XXXX</title>
    <script src="../static/vue/vue.min.js"></script>
    <link rel="stylesheet" href="../static/iview/iview.css">
    <script src="../static/iview/iview.min.js"></script>
    <script src="../static/js/axios.min.js"></script>
    <script src="../static/js/xhead.js?v=1"></script>
    <script src="../static/js/xrank.js?v=1"></script>
    <script src="../static/js/xFooter.js?v=1"></script>
    <script src="../static/js/xArticleList.js?v=4"></script>
    <script src="../static/js/xArticleDetail.js?v=1"></script>
    <link rel="stylesheet" href="../static/css/blog.css?v=9">
    <script src="../static/js/xliuyan.js?v=3"></script>
</head>
<body>
<div id="app">
    <div style="height: 100%" class="layout">
        <Layout style="text-align: center;">
            <Header class="head_c"><component :is="componentHead"></component></Header>
            <Layout class="layout_1">
                <div><Content class="content_layout"><component :is="componentContent"></component></Content></div>
                <Sider class="sider" :style="{width: '340px','max-width':'340px',flex:'0 0 340px'}"><component :is="componentRank"></component></Sider>
            </Layout>
            <Footer><component :is="componentFooter"></component></Footer>
        </Layout>
    </div>
</div>
<script>
    const sys = new Vue({
        el: '#app',
        data: {
            componentContent: 'xartList',
            componentHead: 'xhead',
            componentRank: 'xrank',
            componentCont: 'xcont',
            componentFooter: 'xfooter',
            componentLiuyan: 'xLiuyan',
            aid: '',
        },
        components: {
            xhead:headContent(1),
            xrank:rankContent(1),
            xartDetail:xArtDetail(1),
            xartList:xArtList(1),
            xfooter:footerContent(1),
            xLiuyan:xLiuyanList(1),
        },
        methods: {

        }
    })
</script>
</body>
</html>
